<%- include('../partials/header') %> 
<%- include('../partials/sidebar') %>
<div style="width: 70%;">
  <form id="new-form" action="/folders" method="POST">
    <label>Folder Name:</label>
    <input id="new-folder-title" type="text" name="title" /><br />
    <input id="submit-new-folder" type="submit" value="Add Folder" />
  </form>
</div>
<%- include('../partials/footer') %>
